<div class="navbar-fixed">
	<nav>
		<div class="nav-wrapper">
			<a href="#" class="brand-logo center">Dojo Tournament</a>
			<ul id="nav" class="left">
				<li>{{#link-to 'singles'}}New Tournament{{/link-to}}</li>
				<li>{{#link-to 'tournaments'}}Tournaments{{/link-to}}</li>
			</ul>
		</div>
	</nav>
</div>


{{outlet}}