<div class="navbar-fixed">
	<nav>
		<div class="nav-wrapper">
			<a href="#" class="brand-logo center">Dojo Tournament</a>
			<ul id="nav" class="left">
				<li><a href="/">New Tournament</a></li>
			</ul>
		</div>
	</nav>
</div>


{{outlet}}