<h1>tournaments</h1>

<div id='test'>
	Number {{input value=n}}
</div>
<button class="btn waves-effect waves-light green" {{action 'add'}}>add
</button>

<button class="btn waves-effect waves-light green" {{action 'test'}}>test
</button>
{{outlet}}
