<div class="row">
<div class="col m8 offset-m2">
<h1>Tournaments</h1>
<table class="hoverable">
	<tr>
		<th>Name</th>
		<th>Game</th>
		<th>Winner</th>
	</tr>
{{#each model as |tournaments|}}
	<tr>
		<td>{{#link-to 'show_tournament' tournaments.id}}{{tournaments.name}}{{/link-to}}</td>
		<td>{{tournaments.game}}</td>
		<td>{{tournaments.winner_name}}</td>
	</tr>
{{/each}}
</table>

</div>
</div>
{{outlet}}
